<main class="home">
  <app-navbar></app-navbar>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a>Dashboard</a></li>
              <li class="breadcrumb-item active">Shop</li>
            </ol>
          </div>
          <h4 class="page-title">Shop</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 filterAction">
        <div class="form-group searchForm">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input
              matInput
              placeholder="Search products"
              name="search"
              id="search"
              formControlName="search"
              required
            />
          </mat-form-field>
        </div>
        <div class="sortAction">
          <button mat-button [matMenuTriggerFor]="menu">Sort by</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="text-white" (click)="changeFilter('orderAsc')">low to high</button>
            <button mat-menu-item class="text-white" (click)="changeFilter('orderDesc')">high to low</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card productCard">
          <div class="productImage">
            <img [src]="product.image" class="card-img-top" [alt]="product.name">
          </div>
          <div class="card-body">
            <h5 class="card-title productTitle">
              <a>{{product.name | titlecase }}</a>
            </h5>
            <div class="productAction">
              <p>{{product.price | currency:'INR'}}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
