<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h4>Billing Address</h4>
        <button class="btn" (click)="openDialog('create')">Create new Address</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 address" *ngFor="let address of data">
        <h5 class="">{{address.billingName | titlecase}}</h5>
        <div class="addressData">
          <h5>
            <span>Address:</span>
            {{address.address1}}, {{address.address2}}, {{address.city}}, {{address.state}}-{{address.postalCode}}
          </h5>
        </div>
        <div class="addressData">
          <h5>
            <span>Phone number:</span>
            {{address.mobileNumber}}
          </h5>
        </div>
        <div class="addressAction">
          <button type="button" class="btn btn-outline-secondary mr-2" (click)="openDialog('update', address.id)">Edit
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="openDialog('delete', address.id)">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
